@mixin flex {
    display: flex;
    align-items: center;
}

@mixin flexCenter {
    @include flex;
    justify-content: center;
}

@mixin flexColumn {
    @include flex;
    flex-direction: column;
}

@mixin mq($size) {
    @media only screen and (max-width: $size) {
        @content;
    }
}